**/.idea/
**/.conda/
**/.venv/
**/.ruff_cache/
**/__pycache__/
**/node_modules/


**/logs/
**/debug/
**/target/
**/bundle/

.env

**/.devcontainer/
**/.git/
**/.github/
**/.husky/
**/.rules/
**/.vscode/
.commitlintrc
.editorconfig
.gitattributes
.gitignore
.gitmojirc.json
.prettierignore
.prettierrc
.shellcheckrc
CNAME






