**/.idea/
**/.git/
**/.conda/
**/.venv/
**/.ruff_cache/
**/__pycache__/
**/node_modules
**/.husky/_

**/docs/
**/bundle/

.commitlintrc
.editorconfig
.gitattributes
.gitignore
.dockerignore
.prettierignore
.shellcheckrc
*.md
*.mdx
*.mdc

CNAME
