# https://www.shellcheck.net/wiki/

shell=bash
# Can't follow non-constant source. Use a directive to specify location
disable=SC1090
# Declare and assign separately to avoid masking return values
disable=SC2155
# Double quote to prevent globbing and word splitting.
# disable=SC2086 
